<article class="group block" data-test-rental>
  <Rental::Image src={{@rental.imgSrc}} alt="description" />

  <div class="mt-3 flex flex-col justify-between text-sm">
    <h3
      class="text-gray-900 group-hover:underline group-hover:underline-offset-4 text-lg"
      data-test-title
    >
      {{@rental.zpid}}
    </h3>
    <p class="text-gray-900" data-test-location>{{@rental.country}}</p>

    <p
      class="mt-1.5 max-w-[45ch] text-xs text-gray-500"
      data-test-description
    >{{@rental.address}}</p>

    <p class="mt-2 text-gray-900" data-test-price>{{@rental.price}}</p>
  </div>
</article>
